################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EstoreProject_Batch_1003/.vs/EstoreProject_Batch_1003.slnx/v18
/.vs/EStoreProject_Batch_1003.slnx
*.json
/.vs/slnx.sqlite
/EstoreProject_Batch_1003/.vs/EstoreProject_Batch_1003.slnx/FileContentIndex
/EstoreProject_Batch_1003/EStoreAdmin/EStoreAdminModule/obj/Debug/net8.0
/EstoreProject_Batch_1003/EStoreAdmin/EStoreAdminModule/obj
